<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal</title>
</head>

<body>
<ol>

        <form action="#" method="POST" th:action="@{/patient/calendar}" th:object="${meal}">
            <input type="hidden" th:value="*{id}"  id="id" name="id"/>
            <input type="hidden" th:value="*{godzinaPosilku}"  id="godzinaPosilku" name="godzinaPosilku"/>
            <input type="text" th:value="*{minutaPosilku}" id="minutaPosilku" name="minutaPosilku"/>
            <input type="text" th:value="*{name}" id="name" name="name"/>
            <input type="text" th:value="*{rodzajPosilku}" id="rodzajPosilku" name="rodzajPosilku"/>
            <input type="text" th:value="*{kalorycznosc}" id="kalorycznosc" name="kalorycznosc"/>
            <input type="submit" value="Submit"/>
        </form>

</ol>
</body>
</html>