<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalendarz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Kalendarz dietetyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products" th:if="${userName == 'diet'}">Produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open/calc">Kalkulator</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/patient/calendar" th:if="${userName == 'user'}">Kalendarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:if="${userName != 'anonymousUser'}">Wyloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:if="${userName == 'anonymousUser'}">Zaloguj</a>
                </li>
            </ul>
        </div>




    </nav>
</header>


    <div class="wrapper">
        <section class="left">
            <div class="d-flex p-2">
            <div class="container">
                <div class="calendar">
                    <div class="month">
                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">
                            <h1></h1>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Niedz</div>
                        <div>Pon</div>
                        <div>Wt</div>
                        <div>Śr</div>
                        <div>Czw</div>
                        <div>Pt</div>
                        <div>Sob</div>
                    </div>
                    <div class="days"></div>
                </div>
            </div>
            </div>


        </section>
        <section class="right">
            <div class="col-md-9">
                <div class="d-flex justify-content-center">
                <h5 th:text="${day+'/'+month+'/'+year+' Posiłki'}"></h5>
                </div>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-dark  btn-sm" th:href="@{/patient/calendar/{year}/{month}/{day}/new (year=${year}, month=${month}, day=${day})}">Nowy</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Czas</th>
                            <th>Posiłek</th>
                            <th>Typ</th>
                            <th>Kalorie</th>
                            <th>Aktualizuj</th>
                            <th>Usuń</th>
                        </tr>
                        <tr th:each="meal : ${meals}">
                            <td ><div th:text="${meal.showTime}"></div></td>
                            <td ><div th:text="${meal.name}"></div></td>
                            <td ><div th:text="${meal.getMealType}"></div></td>
                            <td><div th:text="${meal.calories}"></div></td>
                            <td><a class="btn btn-sm btn-dark" th:href="@{/patient/calendar/{year}/{month}/{day}/{id}/edit (id=${meal.id}, year=${year}, month=${month}, day=${day})}">Edytuj</a></td>

                            <td><a class="btn btn-sm btn-danger" th:href="@{/patient/calendar/{year}/{month}/{day}/{id}/delete (id=${meal.id}, year=${year}, month=${month}, day=${day})}">Usuń</a></td>
                        </tr>



                    </table>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/calendar.js"></script>
</html>