<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja posiłku</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Kalendarz dietetyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products" th:if="${ROLE == 'DIETITIAN'}">Produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open/calc">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/calendar" th:if="${ROLE == 'PATIENT'}">Kalendarz</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

        <!--@thymesVar id="product" type="pl.mprm.diet_calendar.controllers.product.ProductCommand"-->
        <form action="#" method="POST" th:action="@{/patient/calendar}" th:object="${meal}">
            <input type="hidden" th:value="*{id}"  id="id" name="id"/>
            <input type="text" th:value="*{godzinaPosilku}"  id="godzinaPosilku" name="godzinaPosilku"/>
            <input type="text" th:value="*{minutaPosilku}" id="minutaPosilku" name="minutaPosilku"/>
            <input type="text" th:value="*{name}" id="name" name="name"/>
            <input type="text" th:value="*{rodzajPosilku}" id="rodzajPosilku" name="rodzajPosilku"/>
            <input type="text" th:value="*{kalorycznosc}" id="kalorycznosc" name="kalorycznosc"/>
            <input type="submit" value="Submit"/>
        </form>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>