<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Kalendarz dietetyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products" th:if="${userName == 'diet'}">Produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open/calc">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/calendar" th:if="${userName == 'user'}">Kalendarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:if="${userName != 'anonymousUser'}">Wyloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:if="${userName == 'anonymousUser'}">Zaloguj</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="d-flex justify-content-center">
    <h1>Formularz dodania produktu</h1>
</div>
<div class="d-flex justify-content-center">
        <form action="#" method="POST" th:action="@{/dietitian/products}" th:object="${product}">
            <div class="form-group">
                <input type="hidden" class="form-control" th:value="*{id}"  id="id" name="id"/>
                <label for="nazwa">Nazwa</label>
                <input type="text" class="form-control" th:value="*{nazwa}" id="nazwa" name="nazwa" required/>
                <label for="gramatura">Gramatura</label>
                <input type="text" class="form-control" th:value="*{gramatura}" id="gramatura" name="gramatura" required/>
                <label for="kalorycznosc">Kaloryczność</label>
                <input type="text" class="form-control" th:value="*{kalorycznosc}" id="kalorycznosc" name="kalorycznosc" required/>
                <label for="opis">Opis</label>
                <textarea rows="2" class="form-control" th:text="*{opis}" id="opis" name="opis" required/></textarea>
                <label for="mikroskladniki">Mikroskladniki</label>
                <textarea rows="2" class="form-control" th:text="*{mikroskladniki}" id="mikroskladniki" name="mikroskladniki"></textarea>
                <label for="makroskladniki">Makroskladniki</label>
                <textarea rows="2" class="form-control" th:text="*{makroskladniki}" id="makroskladniki" name="makroskladniki"></textarea>
                <label for="czyPelnowartosciowy">Czy pełnowartościowy</label>
                <input type="checkbox" class="form-control" th:checked="*{czyPelnowartosciowy}" id="czyPelnowartosciowy" name="czyPelnowartosciowy"/>
                <input type="submit" class="form-control" value="Dodaj"/>
            </div>
        </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>