<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>

<ol>
        <form action="#" method="POST" th:action="@{/dietitian/products}" th:object="${product}">
            <input type="hidden" th:value="*{id}"  id="id" name="id"/>
            <input type="text" th:value="*{nazwa}" id="nazwa" name="nazwa"/>
            <input type="text" th:value="*{gramatura}" id="gramatura" name="gramatura"/>
            <input type="text" th:value="*{kalorycznosc}" id="kalorycznosc" name="kalorycznosc"/>
            <input type="text" th:value="*{opis}" id="opis" name="opis"/>
            <textarea rows="1" th:text="*{mikroskladniki}" id="mikroskladniki" name="mikroskladniki"></textarea>
            <textarea rows="1" th:text="*{makroskladniki}" id="makroskladniki" name="makroskladniki"></textarea>
            <input type="checkbox" th:value="*{czyPelnowartosciowy}" id="czyPelnowartosciowy" name="czyPelnowartosciowy"/>
            <input type="submit" value="Submit"/>
        </form>
</ol>
</body>
</html>