<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/calculator.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Kalendarz dietetyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products" th:if="${userName == 'diet'}">Produkty</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/open/calc">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/calendar" th:if="${userName == 'user'}">Kalendarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:if="${userName != 'anonymousUser'}">Wyloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:if="${userName == 'anonymousUser'}">Zaloguj</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper">
    <section class="left2">
        <div class="calculatorBlock">
        <div class="d-flex justify-content-center">
    <form action="javascript:calculate('mass', 'height', 'age', 'sex');">

            <label>Masa ciała:</label>
        <div class="group">
            <input class="form-control" type="number" id="mass" name="mass" required min="20" max="600">
            <span class="infotext"> kg </span>
        </div>

            <label>Wzrost:</label>
        <div class="group">
            <input class="form-control" type="number" id="height" name="height" required min="100" max="250">
            <span class="infotext"> cm </span>
        </div>

            <label>Wiek:</label>
        <div class="group">
            <input class="form-control" type="number" id="age" name="age" required min="0" max="120">
            <span class="infotext"> lat </span>
        </div>

            <label>Płeć:</label>
            <select class="form-control" id="sex" name="sex" required>
                <option value="male">Mężczyzna</option>
                <option value="famale">Kobieta</option>
            </select>
    <br>
            <input type="submit" class="btn btn-info" value="Oblicz">
            <br>
            <br>
    </form>

        </div>
        <div class="d-flex justify-content-center">Zapotrzebowanie kaloryczne wynosi: </div>
            <div class="d-flex justify-content-center" id="result" style="color: green;"></div>
        </div>
    </section>
    <section class="right2">
        <div class="d-flex justify-content-center">
            <h2> Trochę o BMR</h2>
        </div>
        <div class="d-flex justify-content-center">
        <p>
            Znajmość BMR (PPM) - podstawowej przemiany materii oraz TMR (CPM) - całkowitej przemiany materii jest konieczne,
            by odpowiednio kształtować swoją sylwetkę, niezależnie czy chcemy schudnąć, przybrać na masie czy utrzymać wagę,
            zapotrzebowanie kaloryczne i jego obliczenie są podstawowymi czynnikami, które nam pomogą w osiągnięciu celu.
            Wartość BMR określa liczbę kalorii, którą organizm przeznacza w ciągu doby na podstawowe funkcje życiowe,
            podczas odchudzania nie powinniśmy spożywać mniej kalorii niż wynosi nasze BMR, może to przynieść wiele niepożądanych skutków,
            takich jak: znaczne osłabienie, zwiększenie kortyzolu, ból czy zawroty głowy, długotrwałe spożywanie zbyt
            małej liczby kalorii może doprowadzić do poważnych chorób. Drugą stroną medalu jest spożywanie zbyt dużej liczby kalorii,
            źle obliczony wskaźnik CPM i przesadzenie ze spożywanym jedzeniem może powodować nadmierne otłuszczenie,
            w tym organów wewnętrznych, dlatego tak ważne jest obliczenie dokładnego zapotrzebowania kalorycznego.
        </p>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>