<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Diet Calendar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open/calc">Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/calendar">Calendar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper">
    <section class="left">
        <div class="d-flex justify-content-center">
            <h2>New Keto diet!</h2>
        </div>
        <div class="d-flex justify-content-center">
        <p>
            The ketogenic diet is a very low carb, high fat diet that shares many similarities with the Atkins and low carb diets.

            It involves drastically reducing carbohydrate intake and replacing it with fat. This reduction in carbs puts your body into a metabolic state called ketosis.

            When this happens, your body becomes incredibly efficient at burning fat for energy. It also turns fat into ketones in the liver, which can supply energy for the brain.

            Ketogenic diets can cause significant reductions in blood sugar and insulin levels. This, along with the increased ketones, has some health benefits.
        </p>
        </div>
    </section>
    <section class="right">
        <div class="col-md-9">
            <div class="d-flex justify-content-center">
            <h5>Today's meals</h5>
            </div>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Time</th>
                        <th>Meal</th>
                        <th>Type</th>
                        <th>Calories</th>

                    </tr>
                    <tr th:each="meal : ${menu}">
                        <td ><div th:text="${meal.godzinaPosilku}"></div><div th:text="${meal.minutaPosilku}"></div></td>
                        <td ><div th:text="${meal.name}"></div></td>
                        <td ><div th:text="${meal.rodzajPosilku}"></div></td>
                        <td><div th:text="${meal.kalorycznosc}"></div></td>


                    </tr>



                </table>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>