<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Kalendarz dietetyczny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/products">Produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/open/calc">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/calendar">Kalendarz</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper">
    <section class="left">
        <div class="d-flex justify-content-center">
            <h2>Nowa Keto dieta!</h2>
        </div>
        <div class="d-flex justify-content-center">
        <p>
            Dieta ketogeniczna to sposób odżywiania, który zakłada zwiększenie podaży tłuszczów przy jednoczesnym ograniczeniu spożywania węglowodanów.
            Aby jednak była skuteczna i nie stanowiła zagrożenia dla organizmu, powinna być przeprowadzana wyłącznie pod kontrolą lekarza i dietetyka.
        </p><p>
            W celu przeprowadzenia konsultacji u dietetyka i zaplanowania odżywiania umów się ze specjalistą online.
            Zaplanowanie telewizyty to sposób na skrócenie czasu oczekiwania na konsultację i pozwala ją zrealizować bez wychodzenia z domu.
        </p><p>
            Założenia diety ketogenicznej opierają się w głównej mierze na spożywaniu odpowiedniej ilości tłuszczów,
            węglowodanów i białek. W standardowej, codziennej diecie większości z nas węglowodany stanowią 50 proc., białka 15 proc.,
            a tłuszcze 35 proc. wszystkich spożytych posiłków.</p>
        </div>
    </section>
    <section class="right">
        <div class="col-md-9">
            <div class="d-flex justify-content-center">
            <h5>Dzisiejszy jadłospis</h5>
            </div>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Czas</th>
                        <th>Posiłek</th>
                        <th>Typ</th>
                        <th>Kalorie</th>

                    </tr>
                    <tr th:each="meal : ${menu}">
                        <td ><div th:text="${meal.godzinaPosilku}"></div><div th:text="${meal.minutaPosilku}"></div></td>
                        <td ><div th:text="${meal.name}"></div></td>
                        <td ><div th:text="${meal.rodzajPosilku}"></div></td>
                        <td><div th:text="${meal.kalorycznosc}"></div></td>


                    </tr>



                </table>
            </div>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>